@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Kaushan+Script&family=Lato&family=Montserrat:ital,wght@1,100;1,500&display=swap");

:root {
  --primary-color: bisque;
  --secundary-color: DimGrey;
  --tertiary-color: Gainsboro;
}

body {
  background-color: var(--primary-color);
  font-size: 15px;
  font-family: Lato;
}

#container {
  height: 525px;
  width: 368px;
  margin: 100px auto;
  background: #fff;
  box-shadow: 1px 3px 3px var(--tertiary-color);
  border-radius: 20px;
}

.title {
  background: rgb(14, 14, 14);
  color: white;
  padding: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}

.tipsForm {
  padding-left: 20px;
  padding-right: 20px;
}

.formInput {
  background: white;
  width: 40px;
  padding: 5px 5px 8px 8px;
}

.formInput:focus {
  border: 3px solid var(--primary-color);
  outline: none;
}

.formSelect {
  width: 180px;
  padding: 5px;
  font-size: 12px;
}

.formSubmit {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: rgb(198, 76, 111);
  border-radius: 5px;
  widows: 100px;
  height: 30px;
  font-size: 16px;
  color: rgb(248, 241, 241);
}

#totalTip {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}
